.expenses-filter {
  color: rgb(0, 0, 0);
  padding: 1rem;
  background-color: rgb(153, 166, 238);
  border-radius: 12px;
  /* margin: 2rem auto;
  width: 50rem;
  max-width: 95%;  */
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
